$strong-yellow: #ffc107;
$back-yellow: #fff5b0;
$strong-blue: blue;
$delete-red: #cc3300;
$gentle-pink: #ffe0e0;
$darker-pink:  #ffb3b3;
$soft-blue: #555599;
$back-white: #f8f9fa;
$grey: darkgrey;
$d-grey: grey;
$l-grey: #d9d9d9;
