@use '../tools/variables';

.modal {
  background-color: rgba(100, 100, 100, 0.7) ;
  position: fixed;
  overflow-y: hidden;
}

#modal-signin.shown,
#modal-signup.shown {
  display: block;
}

#modal-signup > .modal-content,
#modal-signin > .modal-content {
  width: 40%;
  left: 30%;
  top: 20%;
  padding: 30px;
}

#modal-signup input,
#modal-signin input {
  width: 100%;
  margin: 10px;
  margin-left: 0px;
  border: none;
  border-bottom: 2px lightgrey solid;
}

#modal-signup input:focus,
#modal-signin input:focus {
  outline: none;
  border-bottom: solid 3px #ffc107;
}

#modal-signup button,
#modal-signin button {
  float: right;
  background-color: variables.$back-yellow;
}

#modal-signin img:active,
#modal-signup img:active {
  content: url('../googleLogin/web/2x/btn_google_signin_dark_pressed_web@2x.png');
}

#modal-signin img:hover,
#modal-signup img:hover {
  cursor: pointer;
}

#modal-signin img,
#modal-signup img {
  width: 200px;
}

#modal-signin .or-container,
#modal-signup .or-container {
  display: flex;
  align-items: center;
  text-align: center;
}

#modal-signin .h-line,
#modal-signup .h-line {
  flex: 2;
}

#modal-signin .h-space,
#modal-signup .h-space {
  flex: 3;
}

#modal-signin .or,
#modal-signup .or {
  flex: 3;
}


.tell-login {
  text-align: center;
  width: 400px;
  padding: 30px;
  margin: 30px auto;
  height: 150px;
}

.tell-login span.user-state {
    color: variables.$main-purple;
  &:hover {
    text-decoration: underline;
    color: variables.$main-purple;
    cursor: pointer;
  }
}
