@use '../tools/variables';

.plan-created {
  color: variables.$darker-pink;
}

#create-new {
  width: 400px;
  padding: 40px;
  float: right;
  margin: 30px 50px;
  min-height: 580px;
}

#create-new .new-title {
  margin: 30px;
  width: auto;
}

#create-new .btn {
  background-color: #fff5b0;
}
