/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-transform: rotate(32deg);
  transform: rotate(32deg);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

html, #root, body, .App {
  height: 100%;
  overflow: auto;
}

.App {
  display: flex;
  flex-direction: column;
}

nav {
  flex: 0 1 auto;
}

.gen-area {
  flex: 1 1 auto;
  overflow: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.logo {
  height: 80px;
}

.heading {
  margin-bottom: 0px;
}

nav h5.user-state {
  cursor: pointer;
  padding-left: 20px;
  margin-bottom: 0px;
  display: none;
}

.center {
  align-items: center;
}

nav h3, nav form {
  padding: 20px;
}

#nav-bootstrap-overrides .navDiv {
  margin: 0px;
}

#nav-bootstrap-overrides {
  justify-content: space-between;
}

#nav-bootstrap-overrides #navbarNav {
  flex-grow: initial;
}

.navDiv.show {
  flex-direction: column;
  align-items: initial;
  padding-left: 10px;
}

.navDiv.show .user-state, .navDiv.show form {
  padding: 0px;
  margin-bottom: 0px;
}

.gen-area {
  background-color: #fff5b0;
  display: flex;
}

#nav-bootstrap-overrides .btn {
  background-color: #fff5b0;
}

#nav-bootstrap-overrides .shown {
  display: block;
}

#nav-bootstrap-overrides .notShown {
  display: none;
}

#nav-bootstrap-overrides .userIcon {
  color: black;
  font-size: 1.75rem;
  border-radius: 50%;
  background-color: #ffc107;
  font-weight: 500;
  padding: 0px 0.8rem;
}

.plans-list {
  width: 60%;
  position: relative;
}

.plan-box {
  box-shadow: 4px 4px 5px 2px #e2e2d0;
  border-radius: 5px;
  height: 450px;
}

.plan-details.plan-box {
  margin: 30px;
  width: 45%;
  float: left;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.scroller {
  padding: 40px;
  padding-top: 0px;
  position: relative;
  overflow-y: scroll;
  height: 100%;
}

.plan-details:nth-child(even) {
  margin-right: 0px;
}

#create-new {
  width: 400px;
  padding: 40px;
  float: right;
  margin: 30px 50px;
  min-height: 580px;
}

.title-box {
  background: linear-gradient(to top left, #ffe0e0, #f8f9fa);
  padding: 40px;
  padding-bottom: 0px;
  position: relative;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.modal {
  background-color: rgba(100, 100, 100, 0.7);
  position: fixed;
  overflow-y: hidden;
}

#modal-signin.shown,
#modal-signup.shown {
  display: block;
}

#modal-signup > .modal-content,
#modal-signin > .modal-content {
  width: 40%;
  left: 30%;
  top: 20%;
  padding: 30px;
}

#modal-signup input,
#modal-signin input {
  width: 100%;
  margin: 10px;
  margin-left: 0px;
  border: none;
  border-bottom: 2px lightgrey solid;
}

#modal-signup input:focus,
#modal-signin input:focus {
  outline: none;
  border-bottom: solid 3px #ffc107;
}

#modal-signup button,
#modal-signin button {
  float: right;
}

table {
  width: 100%;
  empty-cells: show;
}

th {
  font-weight: normal;
}

th:first-child {
  width: 50px;
}

th:last-child {
  border-top: 1px solid grey;
}

th > div {
  overflow: hidden;
  position: relative;
  top: -0.5rem;
}

tr {
  height: 0.8rem;
  line-height: 0.8rem;
}

.day-title {
  padding-top: 8px;
  background: border-box;
  outline: none;
  border: none;
}

.now-time {
  border-bottom: solid blue 2px;
  position: relative;
  width: calc(100% - 50px);
  left: 50px;
}

.drop {
  position: relative;
  left: 45px;
}

.react-datepicker__day--selected.react-datepicker__day {
  background-color: #ffc107;
  outline-color: #ffe0e0;
}
.react-datepicker__day--selected.react-datepicker__day:hover {
  background-color: #ffc107;
}

.react-datepicker__day:active {
  outline-color: #ffe0e0;
}

#create-new .new-title {
  margin: 30px;
  width: auto;
}

#create-new .btn {
  background-color: #fff5b0;
}

.form-center {
  text-align: center;
}

.tell-login {
  text-align: center;
  width: 400px;
  padding: 30px;
  margin: 30px auto;
  height: 150px;
}

.tell-login a.user-state {
  color: #555599;
}
.tell-login a.user-state:hover {
  text-decoration: underline;
  color: #555599;
  cursor: pointer;
}

input[type=search]:focus, input.new-title:focus {
  box-shadow: 0px 0px 15px #ffb3b3;
  border-color: #ffb3b3;
}

.times {
  position: relative;
}

td {
  position: relative;
}

button.action-button {
  background-color: #555599;
  color: #ffe0e0;
  position: absolute;
  z-index: 1;
  height: 52.8px;
  top: 0px;
  width: 300px;
  overflow: hidden;
}
button.action-button:hover {
  text-overflow: ellipsis;
  z-index: 10;
  height: inherit !important;
  color: #ffe0e0;
  text-align: left;
}
button.action-button:hover .ellipsis {
  display: none !important;
}
button.action-button:hover .full-text.grow, button.action-button:hover .action-icon {
  display: inherit !important;
}
button.action-button:hover .full-text.keep {
  display: inline !important;
}

.full-text {
  text-align: left;
  display: inherit;
}

.ellipsis {
  position: relative;
  top: -17px;
}

.hide {
  display: none;
}

#action-setup-modal {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: block;
}

#action-setup-modal .action-setup-content {
  position: fixed;
  top: 30%;
  left: 30%;
  right: 30%;
  border-radius: 5px;
  padding: 30px;
  padding-top: 40px;
  background-color: #f8f9fa;
}

#action-setup-modal span.times {
  color: darkgrey;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
}
#action-setup-modal span.times :active {
  color: grey;
}

#action-setup-modal input {
  width: 100%;
  margin: 10px;
  margin-left: 0px;
  border: none;
  border-bottom: 2px lightgrey solid;
  background-color: #f8f9fa;
}

#action-setup-modal input:focus {
  outline: none;
  border-bottom: solid 3px #ffc107;
}

#action-setup-modal button {
  float: right;
  background-color: #fff5b0;
}

#action-setup-modal .react-datepicker__tab-loop {
  position: absolute;
  top: 13px;
}

.plan-created {
  color: #ffb3b3;
}

.fa-icon {
  position: absolute;
}
.fa-icon :hover {
  cursor: pointer;
}

.plan-trash {
  color: grey;
  top: 20px;
  right: 40px;
}

.action-trash {
  right: 15px;
}

.action-edit {
  right: 33px;
}

.action-icon {
  color: #ffe0e0;
  top: 8px;
  display: none;
}

.action-check {
  right: 56px;
  top: 9px;
}

/*# sourceMappingURL=index.css.map */
